html,body{height:100%;}
#page{min-height:100%;height:auto;margin:0 auto -40px;padding:0 0 40px;}
#content .page-header{margin-top:0;}#content .page-header h1{margin-top:0;}
#primary .gallery .gallery-row>div{margin-bottom:25px;}
#masthead{margin-bottom:20px;}
#colophon{height:40px;background-color:#f5f5f5;}#colophon .site-info{padding-top:13.333333333333334px;}
