@footerHeight: 40px;

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* ============================================= *
 * 	Page wrapper
 * ============================================= */
#page {
	min-height: 100%;
	height: auto;
	margin: 0 auto -@footerHeight;
	padding: 0 0 @footerHeight;
}

#content {
	.page-header {
		margin-top: 0;

		h1 {
			margin-top: 0;
		}
	}
}

#primary {
	.gallery {
		.gallery-row {
			> div {
				margin-bottom: 25px;
			}
		}
	}
}

/* ============================================= *
 * 	Header
 * ============================================= */
#masthead {
	margin-bottom: 20px;
}

/* ============================================= *
 * 	Footer
 * ============================================= */
#colophon {
	height: @footerHeight;
	background-color: #f5f5f5;

	.site-info {
		padding-top: @footerHeight / 3;
	}
}