/* ============================================= *
 * 	Cart
 * ============================================= */
.cart-collaterals {
	.cart_totals {
		table {
			width: 100%;
		}
	}
}

/* ============================================= *
 * 	Global
 * ============================================= */
#main {
	.woocommerce {
		.woocommerce-info:before {
			height: auto;
		}


		ul#shipping_method {
			text-align: left;

			li {
				padding: 0;
				text-indent: 0;
			}
		}
	}
}