.cart-collaterals .cart_totals table{width:100%;}
#main .woocommerce .woocommerce-info:before{height:auto;}
#main .woocommerce ul#shipping_method{text-align:left;}#main .woocommerce ul#shipping_method li{padding:0;text-indent:0;}
